## Name
Celia Chan

## Project Requirements
Characters:
	- Human-Controlled Player
	- The player has a health bar.
	- WASD/Arrow Keys movement
	- Use a key press to activate levers and traps
	- When the player dies they will respawn in the starting position
- AI Enemy
	- AI Pathing
	- The enemy must be roaming around the area in a directed path
- Characters must be animated

Game Mechanics:
- Level-based game (3-5 levels)
- Show which level the human player is on
- When traps are enabled, the traps must kill both players and enemies. When closed the traps must not do anything 	
- Traps will decrease the health slowly when the player steps on them
- Traps will have cooldowns, and will automatically disable after a few seconds
- Under cooldown the player cannot use the trap
- To proceed to the next room, the player must kill off all the enemies in the current room first
- The player must kill the enemies using only the traps
- The game ends when the player kills off all the enemies in the final room

Game Scene and UI:
- Top-down perspective
- Tilesets
- 	Import tileset
- 	Put colliders onto the walls
- 	Tile palette for easy level building
- 	Make triggers on tiles to go to the next level
- Make a HUD that persists through every level
- Indicate any cooldowns or information that the player needs to know
- Different Game Scenes for each level
- Simple title screen and pause menu
- High score board (With a timer for how fast you get through each level)

Additional Requirements:
- When game is complete it must gracefully restart

